.Link {
	color: white;
	transition: 0.15s;
	font-size: 14px;
	margin: 10px;
	text-decoration: none;
}

.Link:hover {
	text-decoration: none;
	color: rgb(211, 211, 211);
}

.Link.active {
	text-decoration: none;
	color: rgb(211, 211, 211);
}